.top_menu {
    width: 100vw;
    height: 60px;
    background-color: darkblue;
    padding: 10px 50px 10px 0px;
    color: white;
}

.right_side {
    float: right;
    padding-right: 35px;
    font-size: 35px;
    font-color: white;
    text-decoration: none; /* Убирает подчеркивание у ссылки */

}

a {
    color: white;
    text-decoration: none;
}

.right_side a:hover {
    text-decoration: underline;
}

.content {
    margin-top: 25px;
}

.order-button {
    height: 150px;
    width: 350px;
    font-size: 35px;
    text-align: center; /* Центрирует текст по горизонтали */
    line-height: 45px; /* Центрирует текст по вертикали */
    text-decoration: none; /* Убирает подчеркивание у ссылки */
    background-color: darkblue; /* Цвет фона */
    color: white; /* Цвет шрифта при наведении */
    border-radius: 5%; /* Делает кнопку круглой */
    padding: 15px 15px 15px 15px;
    align: center;
    text-decoration: none; /* Убирает подчеркивание у ссылки */
}

.order-button:hover {
    background-color: blue; /* Цвет фона при наведении */
    color: white; /* Цвет шрифта при наведении */
}

.fieldWrapper {
    display: flex; /* Используем flexbox для размещения элементов в строку */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    margin: 1vh 0; /* Отступ сверху и снизу в vh */
}

.fieldWrapper label {
    margin-right: 15%; /* Отступ справа от лейбла в процентах */
    font-size: 5vw; /* Размер шрифта для лейбла в vw */
}

.fieldWrapper input[type="number"] {
    width: 20%; /* Ширина поля ввода в процентах */
    padding: 1vh; /* Внутренние отступы для удобства ввода в vh */
    font-size: 2vw; /* Размер шрифта для поля ввода в vw */
    border: 1px solid #ccc; /* Цвет и стиль границы */
    border-radius: 4px; /* Закругление углов */
    transition: border-color 0.3s; /* Плавный переход для изменения цвета границы */
}

.fieldWrapper input[type="number"]:focus {
    border-color: #66afe9; /* Цвет границы при фокусе */
    outline: none; /* Убираем стандартный контур при фокусе */
}
